html, body {
  width: 100%;
  height: 100%;
  margin:0;
  overflow: hidden;
  background-image: url('https://www.prepressed.se/sprites/stars-background-purple.jpg');
  font-family: 'Play', sans-serif !important;
}
body {
  position: relative;
}

canvas {
  background-color: transparent;
  position: absolute;
  z-index: 0;
}

#splash {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  width: 768px;
  height: 180px;
  background-image: url('https://www.prepressed.se/sprites/andreas_get_lost.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
}
#decorations {
  -webkit-filter: blur(10px);
  -mozilla-filter: blur(10px);
  filter: blur(10px);
}
span {
  color: white;
  text-transform: uppercase;
}
ul li {
  color: white;
}
#compass {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 32px;
  height: 64px;
  background-image: url('https://www.prepressed.se/sprites/ui/compass.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#currentSpeed {
  position: fixed;
  right: 18px;
  bottom: 0px;
  width: 84px;
  height: 24px;
  color: rgb(0,255,0);
  text-align: center;
}
#loginMenu {
  width: 400px;
  margin: auto;
  text-align: center;
  z-index: 1;
  
}
#loginMenu input {
  font-size: 14px;
}
#loginMenu input {
  background: none;
}
#console {
  color: white;
  position: fixed;
  width: 300px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid rgb(0,255,0);
}
#adventureFrame {
  background-color: rgba(0,0,0,0.5);
  color: white;
  position: fixed;
  width: 50%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid rgb(0,255,0);
  font-size: 14px;
}
#sceneDescription {
  height: 40%;
  border: 1px solid rgb(0,255,0);
}
#feedback {
  height: 39%;
  border: 1px solid rgb(0,255,0);
}
#input {
  height: 20%;
  border: 1px solid rgb(0,255,0);
}
#playerContainer {
  background-size: contain;
  position: fixed;
  display: block;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#player {
  width: 100%;
  height: 100%;
  background-image: url("https://www.prepressed.se/sprites/spikedship.png");
  background-size: contain;
  z-index: 0;
}

#adventureNotification {
  z-index: 100;
  position: fixed;
  max-width: 300px;
}
#toolTip {
  position: fixed;
  max-width: 300px;
  color: white;
  font-size: 12px;
}
#nowPlaying {
  position: fixed;
  left: 50%;
  top: 24px;
  transform: translateX(-50%);
  width: 300px;
  text-align: center;
}
#instructionsMenu {
  margin: auto;
  width: 90%;
  max-height: 400px;
  z-index: 1;
}
#instructionsMenu ul {
  min-width: 160px;
  width: 20%;
  display: inline-block;
  vertical-align: top;
}


#mainMenu {
  margin: auto;
  width: 400px;
  max-height: 400px;
  transform: translateY(0%);
  color: #A716B8;
  text-align: center;
  text-transform: uppercase;
  cursor: default;
}
#mainMenu * {
  margin-bottom: 6px;
}
#minimap {
  z-index: 100;
}
#minimapFrame {
  margin: auto;
  height: 50%;
  max-height: 375px;
  transform: translateY(50%);
}
.half-width {
  width: 48%;
}
#upgradeFrame {
  width: 400px;
  margin: auto;
  height: 50%;
  transform: translateY(50%);
  border: 2px solid rgb(0,255,0);
}

.popup {
  color: white;
  position: fixed;
  width: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 6px;
  border: 3px solid rgb(0, 255, 0);
}
.ul-title {
  color: #A716B8;
}
.circle-frame {
  width: 375px;
  height: 375px;
  border: 1px solid rgb(0,255,0);
  background-image: url('https://www.prepressed.se/sprites/space.png');
  border-radius: 50%;
  overflow: hidden;
}
#uiFrame {
  width: 100%;
  height: 100%;
}

.square {
  display: block;
  position: fixed;
  border: 2px solid rgb(0,255,0);
}
.center-text {
  text-align: center;
}
.left { 
  left: 0;
  width: 25%;
}
.right {
  right: 0;
  width: 25%;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.yellow-text {
  color: #BD3152;
}
.vertical-middle {
  transform: translateY(50%);
}
.perspective-right {
  top: 25%;
  left: 70%;
  text-align: right;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  transform: perspective( 800px ) rotateY( -25deg );
}
.perspective-right:hover, .perspective-left:hover {
  transform: perspective( 800px ) rotateY( 0deg );
}
.perspective-left {
  top: 25%;
  left: 5%;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  transform: perspective( 800px ) rotateY( 25deg );
}
.stat-title span{
  color: #BD3152;
}

.stat-frame {
  margin: 2px;
  padding: 2px;
  border: 1px solid rgb(0, 255, 0);
  background-color: none;
  cursor: default;
}
.stat-frame:hover {
  background-color: #9DB7BF;
}

.outer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  background-color: rgba(0,0,0,0.5);
}

.lbFrame {
  position: relative;
  display: block;
  width: 70%;
  height: 70%;
  margin: auto;
  top: 145px;
  background-color: white;
  overflow:hidden;
}

.lbFooter {
  position:fixed;
  width: 100%;
  bottom: 0px;
  margin: auto;
  font-family: "Terminal";
  text-align: center;
  letter-spacing: 2px;
  background-color: #03F604;
}